/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
	background-color: #f8f8f8;
	font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 3em auto;
  padding: 1.5em;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.desc {
	font-size: 18px;
}

.header {
	margin-bottom: 100px;
}

.score-section {
	font-size: 1.25em;
	border: 1px solid black;
	padding: 1em;
	border-radius: 12px;
	text-align: center;
}

.header {
	text-align: center;
}

.gameboard {
	display: flex;
}

.scoreboard {
	display: flex;
	gap: 3em;

}

.score {
	margin-bottom: 1em;
}

i:before {
	font-size: 100px;
}



.sign {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.3em;
	border: 4px solid rgb(18, 6, 61);
	border-radius: 12px;
	padding: 5em 0 0;
	font-weight: bold;
	width: 150px;
}

.sign:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}

.signs {
	display: flex;
	justify-content: center;
	gap: 3em;
	margin: 0 auto;
	flex-wrap: wrap;
}


@media(max-width: 600px) {
	i:before {
		font-size: 50px;
	}

	.sign {
		padding: 3em 0em 0;
		width: 100px;
	}
}

.scoreboard {
	margin-top: 150px;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
}

.scores {
	display: flex;
	justify-content: center;
	font-size: 18px;
	gap: 50px;
}

.message {
	text-align: center;
}

.overlay {
	position: fixed;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	top: 0;
	left: 0;
	width: 100vw;
	display: grid;
	place-items: center;
	
}

.modal {
	background-color: #f8f8f8;
	display: grid;
	place-items: center;
	padding: 2em;
	width: 300px;
	height: 150px;
	border-radius: 10px;
}

.hidden {
	display: none;
}



